body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/1galaxystarsbkg.gif");
}

@media screen and (max-width: 742px) {
  img {
    width: 50px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.body {
  color: red;
}

div.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-right: 25%;
  margin-left: 25%;
}

@media screen and (max-width: 742px) {
  div.nav {
    display: block;
    margin-right: 0%;
    margin-left: 0%;
  }
  button {
    size: 10px;
  }
  div.top-h1 img {
    margin: 20px;
    width: 75px;
  }
  img.lightning {
    margin-right: 40px;
    margin-left: 40px;
    width: 75px;
  }
  img.barbwire {
    width: 200px;
  }
  img.anime {
    width: 30px;
  }
  img.dino {
    width: 20px;
  }
  img.cute {
    width: 100px;
  }
  img.welcomegif {
    width: 100px;
  }
  img.typing {
    width: 100px;
  }
  div.penglibrary img {
    width: 100px;
  }
  img.browser {
    width: 75px;
  }
}

h1.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  align-content: center;
  justify-content: center;
}

div.top-h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.middle-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.penglibrary {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
}

button {
  padding: 5px;
  margin: 20px;
}

footer {
  margin-bottom: 20px;
}
